.create-event {

  .modal-body {
    padding:15px 60px;
  }
  h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 11px;
    color: rgba(0, 0, 0, 0.75);
  }
  label {
    display: inline-block;
    max-width: 100%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 5px;
  }
  input.form-control {
    height: 45px;
    font-size: 1.6rem;
    width: 100%;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .btn-success {
    background: #27A670;
    font-size: 1.8rem;
    padding: 12px 30px;
    color: rgba(255, 255, 255, 1);
  }


  .btn-cancel {
    background-color: #fff;
    border: 1px solid #A2B3BF;
    color: rgba(0, 0, 0, 0.7);
    padding: 12px 25px;
    font-size: 1.8rem;
  }

  .form-group {
    margin-top: 20px;
  }

  .options {
    margin-top: 4px;
    margin-bottom:15px;
  }


  select.select-form {
    height: 42px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .select-form {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

}
