.header {
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
  z-index: 1;
  height: $header-height;
}


.header-bar {
  padding-left: 250px;
}

.header-bar h1 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 26px;
  padding-left:60px;
  float:left;
}


.btn-logout {
  border:1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 15px;
  float:right;
  color: rgba(0, 0, 0, 0.4);
  margin: 12px 30px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1.2rem;
}

.avatar-container {
  margin:18px 30px;
  a{
    color: rgba(0, 0, 0, 0.7);
    font-size:1.4rem;
    font-weight: 600;
  }
  float:right;
}
.avatar {
  margin-right: 5px;
  margin-top: -7px;
  width: 2.2pc;
  height: 2.2pc;
  border-radius: 100%;
  vertical-align: middle;
}
