$nav-white: rgba(255, 255, 255, 0.6);
$nav-white-hover: rgba(255, 255, 255, 1);
$radius: 5px;

.navbar {
  overflow: hidden;
  background: $blue;
  width: $nav-width;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  padding-bottom: 50px;
}


.nav-logo {
  text-align:center;
  padding-top:50px;

  h1 {
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    font-family: 'MyWebFont';
    letter-spacing:2px;
    margin-bottom:0px;
    margin-top: 0;
  }
}


.nav-menu {
  padding-left: 10px;
  margin-top:60px;
  li {
    margin-top:10px;
    &:hover {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      background-color: rgba(0,0,0,.10);
    }
    &.active {
      a {
        background-color:rgba(0,0,0,.15);
        color: $nav-white-hover;
        font-weight: 500;
      }
      svg{
        fill: $nav-white-hover;
      }
    }
    a {
      text-decoration: none;
      color: $nav-white;
      line-height: 18px;
      font-weight: 300;
      display: block;
      padding: 15px 12px;
      font-size: 2rem;
      border-top-left-radius:$radius;
      border-bottom-left-radius: $radius;

      svg{
        vertical-align: middle;
        margin-top: -6px;
        margin-right: 2px;
        fill: $nav-white;
        width: 22px;
        height: 22px;
      }
    }
  }
}
