<div class="create-event">
  <div class="modal-header">
    <h1> Nouveau rendez-vous </h1>
  </div>
  <form action="javascript:;" data-ng-submit="add()">
    <div class="modal-body">
      <div class="form-group add-patient">
        <label for="group_name" class="ng-binding">Nom du patient</label>
        <ui-select ng-model="ctrl.person.selected" theme="select2" ng-disabled="ctrl.disabled" title="Sélectionnez un patient">
          <ui-select-match placeholder="Recherchez un patient...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
            <div ng-bind-html="person.name | highlight: $select.search"></div>
            <small>
              email: {{person.email}}
              age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
            </small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <label for="group_name" class="ng-binding">Options</label>
        <div class="options">
          <input type="checkbox"
                 placeholder="Rechercher..."
                 data-ng-model="patient.hasKalinox">
           <span>Ce patient souhaite utiliser la kalinox</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="text-center">
          <button class="btn btn-success ng-binding" type="submit">Ajouter</button>
          <button class="btn btn-cancel" type="button" data-ng-click="close()">Annuler</button>
      </p>
    </div>
  </form>

</div>
